.app{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @media only screen and (max-width: 93.75em){
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.2rem;
  }
  @media only screen and (max-width: 56.25em){
    grid-template-columns: minmax(min-content,1fr);
  }

  padding: 3rem;
  @media only screen and (max-width: 56.25em){
    padding: 1rem;
  } 
  @media only screen and (max-width: 30em){
    padding: 1rem;
  }
  &>*{
    padding: 2rem;
    @media only screen and (max-width: 56.25em){
      padding: 1.2rem;
    }
 
    border-radius: 8px;    
  }
  &>*:last-of-type{
    @media only screen and (max-width: 93.75em){
      grid-area: 2/1/3/3;
    }    
    @media only screen and (max-width: 56.25em){
      grid-area: auto;
    } 
  }
}